.page-content-404{
    background: url('../images/404_bg.jpg');
    padding: 100px 0 100px;
    color: lavender;
    font-size: 30px;
}
.text_404 {
    font-size: 100px;
}
.home_link {
    margin-top: 20px;
    font-size: 20px;
}