/* title login */
#tilte-login {
  text-align: center;
  font-size: 24px;
}
/* The containerlogin */
.containerlogin {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerlogin input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarklogin {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerlogin:hover input ~ .checkmarklogin {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerlogin input:checked ~ .checkmarklogin {
  background-color: #2196F3;
}

/* Create the checkmarklogin/indicator (hidden when not checked) */
.checkmarklogin:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarklogin when checked */
.containerlogin input:checked ~ .checkmarklogin:after {
  display: block;
}

/* Style the checkmarklogin/indicator */
.containerlogin .checkmarklogin:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* forgot passwoord */
.replay-forgotpassword {
  padding: 20px;
  background-color: lightblue;
}