input {
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 4px;
}
.profile-table tbody tr td{
   height: 40px;
   padding-left: 20px;
}
select{
    min-width: 100px;
    height: 33.5px;
    border-radius: 4px;
}
.fakeLoader{
    display: none;
}

.modal-cv-online{
    z-index: 9999;
}
.form-add-cv .form-input-upload{
    margin-bottom: 10px;
    width: 50%;
}

.form-add-cv button{
    padding: 8px 15px;
    width: 100px;
    margin: 10px;
}
.showRecordApply{
    position: relative;
}
.Notify-Cicle{
    display: block;
    min-width: 18px;
    height:18px;
    position: absolute;
    top:-3px;
    border: solid 1px #ff5900;
    border-radius: 50%;
    right: -10px;
    background-color: white;
    color: #ff5900;
    line-height: 15px;
}
/* //back to top */
#back-to-top {
    padding: 10px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #a4c8de;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #cce1ed;
}
#back-to-top.show {
    opacity: 0.7;
}