.status-Product0 {
    color: white;
    background-color: green;
}
.status-Product1 {
    color: white;
    background-color: orange;
}

.status-Product2 {
    color: white;
    background-color:red;
}
