.ratingstar {
    font-size:1.2rem;
}
.fas.ratingstar {
    color:#ffbf00;
}
.far.ratingstar {
    color: #CCC;
}

.fab {
    color: black!important;
}
.ratingbar {
    /* margin: 40px auto 0 20%; */
}
.star-one {
    margin-right:20px;
}
.length-star {
    margin-left: 20px;
}
#product-customer-reviews ,.add-review{
    padding-left: 30px;
}
.modaly-title {
    text-align: center;
}

.modaly-body {}

.modaly-bt {
    margin: 2px;
}

.modaly {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 9999;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-contenty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    /* width: 24rem; */
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modaly {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}